<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DI COUPLED FUNTIONS -->

    <bean id="spitterDAO" class="persistence.SpitterDAOImpl"/>
    <bean id="spittleDAO" class="persistence.SpittleDAOImpl"/>



    <bean id="spitterDAOHibernate" class="persistence.SpitterDAOHibernateImpl"/>

    <bean id="spitterService" class="services.SpitterServiceImpl">
        <constructor-arg ref="spitterDAOHibernate" />

    </bean>



    <bean id="spittleDAOHibernate" class="persistence.SpittleDAOHibernateImpl"/>

    <bean id="spittleService" class="services.SpittleServiceImpl">
        <constructor-arg ref="spittleDAOHibernate" />
    </bean>





</beans>